<nav class="navbar bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <%= link_to "Chat Room App", root_path, class: "nav-link" %>
    <div>
      <% if !Current.user %>
        <div class="d-flex">
          <%= link_to "Sign In", sign_in_path, class: "btn" %>
          <%= link_to "Sign Up", sign_up_path, class: "btn" %>
        </div>
      <% else %>
        <div class="d-flex">
          <div class="dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown"><%= Current.user.email %></button>
            <ul class="dropdown-menu">
              <li><%= button_to "Log out", sign_out_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>