<div class="row h-100">
  <div class="col-2 border-end p-0">
    <div class="border-bottom p-2">
      <%= form_with url: chat_path(@chat_room), method: :get do |form| %>
        <div class="input-group">
          <%= form.text_field :search_term, class: "form-control", placeholder: "Search", value: @search_term %>
          <%= link_to chat_path(@chat_room), class: "input-group-text text-decoration-none" do %>
            <span>&#x2715;</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @search_term %>
      <% if !@filtered_chat_rooms.empty? %>
        <div class="bg-white text-center border-bottom">Contacts</div>
        <%= render partial: "chat_room", collection: @chat_rooms %>
      <% end %>
      <% if !@filtered_users.empty? %>
        <div class="bg-white text-center border-bottom">Others</div>
        <div data-controller="userAsChat">
          <% @filtered_users.each do |user| %>
            <%= form_with url: chats_path, data: {'userAsChat-target': 'userContainer'} do |form| %>
              <div class="border-bottom p-2 hover-overlay cursor-pointer" data-action="click->userAsChat#submit">
                <div><%= user.username %></div>
                <%= form.hidden_field :user_id, value: user.id %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if @filtered_chat_rooms.empty? && @filtered_users.empty? %>
        <div class="text-center mt-2 fst-italic">Not Found</div>
      <% end %>
    <% elsif @chat_rooms %>
      <%= render partial: "chat_room", collection: @chat_rooms %>
    <% end %>
  </div>
  <div class="col-10 p-0 bg-white">
    <div class="d-flex flex-column justify-content-between h-100" >
      <div class="p-1 text-center d-flex justify-content-between">
        <h1>
          <%= @chat_room.name_for_user(Current.user.id) if @chat_room %>
        </h1>
        <%= button_to "Create new group", class: "btn btn-primary" if @chat_should_be_shown%>
      </div>
      <% if @messages && !@messages.empty? %>
        <div class="d-flex flex-column p-3 h-100 overflow-auto border-top border-bottom messages-container" style="max-height: calc(100vh - 189px)">
          <%= turbo_stream_from "chat_room_messages" %>
          <%= turbo_frame_tag "chat_room_messages" do %>
            <%= render @messages, message_author_id: Current.user.id, chat_room_id: @chat_room.id %>
          <% end %>
        </div>
      <% end %>
      <div class="p-3">
        <%= form_with url: chat_room_messages_path do |form| %>
          <div class="input-group">
            <%= form.text_field :message, autofocus: true, class: "form-control" %>
            <%= form.hidden_field :chat_room_id, value: @chat_room.id %>
            <%= form.hidden_field :message_author_id, value: Current.user.id %>
            <%= form.submit "Send", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>